@model IEnumerable<AcTransitMap.Models.VehiclePosition>

<style>
    #map-canvas {
        height: 500px;
    }
</style>

<div id="map-canvas"></div>

@section scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/map.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
    <script src="~/js/map.js"></script>
    <script>
        var locations = @Html.Raw(Json.Serialize(Model));
    </script>
}
